@import "./variables";

@font-face {
  font-family: 'muli';
  src: url(../assets/muli/Muli.ttf) format('truetype');
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  color: $c-tertiary;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: muli, Roboto, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: muli, sans-serif;
}